
<div class="row middle-xs">
	<div class="col-xs-12">

		<%= erb :_navigation, :locals => { :player_name => player_name } %> 

	</div>
	
</div>



<div class="row middle-xs center-xs">
	<div class="col-xs-12">
		<h4>Top 10 best players</h4>
	</div>
</div>

<div class="row center-xs around-xs heading-top-cols">
	<div class="col-xs middle-xs">
		<h4>Player's Name</h4>
	</div>
	<div class="col-xs middle-xs">
		<h4>Movements</h4>
	</div>
	<div class="col-xs middle-xs">
		<h4>Time</h4>
	</div>
</div>

<% if @scores.length > 0 %>
	<% @scores.each do |sc| %>
		<div class="row center-xs around-xs rows-top">
			<div class="col-xs middle-xs">
				<p><%= "#{sc[:player]}" %></p>
			</div>
			<div class="col-xs middle-xs">
				<p><%= "#{sc[:counts]}" %></p>
			</div>
			<div class="col-xs middle-xs">
				<p><%= "#{sc[:gtime]}" %></p>
			</div>
		</div>
	<% end %>
<% else %>
	<div class="row center-xs">
		<div class="col-xs middle-xs">
			<p>No records found</p>
		</div>
	</div>
<% end %>


